<div class="modal fade" id="confirm-delete" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resources.ModalDeleteConfirmationTitle</h4>
            </div>

            <div class="modal-body">
                <p>@Resources.Resources.ModalDeleteConfirmationMessage</p>
                <p>@Resources.Resources.ModalDeleteConfirmationQuestion</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resources.ModalDeleteConfirmationCancelBtn</button>
                <a class="btn btn-danger btn-ok">@Resources.Resources.ModalDeleteConfirmationDeleteBtn</a>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="confirm-deactivate" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="myModalLabel">@Resources.Resources.ModalDeactivateConfirmationTitle</h4>
            </div>

            <div class="modal-body">
                <p>@Resources.Resources.ModalDeactivateConfirmationMessage</p>
                <p>@Resources.Resources.ModalDeactivateConfirmationQuestion</p>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">@Resources.Resources.ModalDeleteConfirmationCancelBtn</button>
                <a class="btn btn-danger btn-ok">@Resources.Resources.ModalDeactivateConfirmationDeactivateBtn</a>
            </div>
        </div>
    </div>
</div>