
<!DOCTYPE html>
<!--[if IE 9 ]><html class="ie9"><![endif]-->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Material Admin</title>

    <!-- Vendor CSS -->

    <link href="~/Content/bootgrid/css/jquery.bootgrid.min.css" rel="stylesheet" />
    <link href="~/Content/bower_components/animate/animate.min.css" rel="stylesheet">
    <link href="~/Content/bower_components/bootstrap-sweetalert/sweet-alert.css" rel="stylesheet">
    <link href="~/Content/bower_components/material-design-iconic-font/css/material-design-iconic-font.min.css" rel="stylesheet">
    <link href="~/Content/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.min.css" rel="stylesheet">
    <link href="~/Content/bootstrap-datetimepicker.min.css" rel="stylesheet">
    @*<link href="~/Content/bootgrid/jquery.bootgrid.min.css" rel="stylesheet">*@
    @RenderSection("styles", required: false)
    <!-- CSS -->
    <link href="~/Content/app.min.1.css" rel="stylesheet">
    <link href="~/Content/app.min.2.css" rel="stylesheet">
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />

</head>

<body>
    @Html.Partial("_NavbarTop");

    <section id="main">

        @Html.Partial("_SidebarLeft")

        @Html.Partial("_SidebarRight")


        <section id="content">
            <div class="container">

                @RenderBody()
            </div>
        </section>
    </section>


    @Html.Partial("_Footer");
    <!-- Page Loader -->
    <div class="page-loader">
        <div class="preloader pls-blue">
            <svg class="pl-circular" viewBox="25 25 50 50">
                <circle class="plc-path" cx="50" cy="50" r="20" />
            </svg>

            <p>Please wait...</p>
        </div>
    </div>

    <!-- Older IE warning message -->
    <!--[if lt IE 9]>
        <div class="ie-warning">
            <h1 class="c-white">Warning!!</h1>
            <p>You are using an outdated version of Internet Explorer, please upgrade <br/>to any of the following web browsers to access this website.</p>
            <div class="iew-container">
                <ul class="iew-download">
                    <li>
                        <a href="http://www.google.com/chrome/">
                            <img src="img/browsers/chrome.png" alt="">
                            <div>Chrome</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.mozilla.org/en-US/firefox/new/">
                            <img src="img/browsers/firefox.png" alt="">
                            <div>Firefox</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://www.opera.com">
                            <img src="img/browsers/opera.png" alt="">
                            <div>Opera</div>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.apple.com/safari/">
                            <img src="img/browsers/safari.png" alt="">
                            <div>Safari</div>
                        </a>
                    </li>
                    <li>
                        <a href="http://windows.microsoft.com/en-us/internet-explorer/download-ie">
                            <img src="img/browsers/ie.png" alt="">
                            <div>IE (New)</div>
                        </a>
                    </li>
                </ul>
            </div>
            <p>Sorry for the inconvenience!</p>
        </div>
    <![endif]-->
    <!-- Javascript Libraries -->
    <script src="~/Scripts/vendors/bower_components/jquery/jquery.min.js"></script>
    <script src="~/Scripts/vendors/bower_components/bootstrap/bootstrap.min.js"></script>

    <script src="~/Scripts/vendors/bower_components/malihu-custom-scrollbar-plugin/jquery.mCustomScrollbar.concat.min.js"></script>
    <script src="~/Scripts/vendors/bower_components/Waves/waves.min.js"></script>
    <script src="~/Scripts/vendors/bootstrap-growl/bootstrap-growl.min.js"></script>
    <script src="~/Scripts/vendors/bower_components/bootstrap-sweetalert/sweet-alert.min.js"></script>
    <script src="~/Scripts/vendors/bower_components/moment/moment.min.js"></script>
    <script src="~/Scripts/bootstrap-datetimepicker.min.js"></script>
    @*<script src="~/Scripts/vendors/bootgrid/jquery.bootgrid.updated.min.js"></script>*@
    <!-- Placeholder for IE9 -->
    <!--[if IE 9 ]>
        <script src="vendors/bower_components/jquery-placeholder/jquery.placeholder.min.js"></script>
    <![endif]-->
    @RenderSection("scripts", required: false)

    <script src="~/Scripts/functions.js"></script>

   

</body>
</html>